<mat-card class="login-choise-container">
  <mat-list>
    <mat-list-item>
      <i class="fab fa-google" aria-hidden="true"></i>
      <button mat-button class="choise-item" (click)="loginGoogle()">
        Login with Google
      </button>
    </mat-list-item>

    <mat-list-item>
      <i class="far fa-envelope"></i>
      <button mat-button routerLink="/login-email" class="choise-item">
        Email
      </button>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="/signup" class="choise-item" [style.margin-top.px]="15">
        No account? <strong>Create one here</strong>
      </a>
    </mat-list-item>
  </mat-list>
</mat-card>

